
.top-bar {
    background-color: #ff7a00;
    width: auto; 
    height: 140px;  
    position: relative;  
    display: flex; /* flexbox layout */
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

.logo {
    position: absolute;  /* indipendend logo */
    top: 10px;
    left: 20px;
    height: 120px;      
}

.title {
    font-family: "Georgia", serif;
    font-size: 36px;
    font-weight: bold;
    font-style: italic;
    color: white;
    text-align: center;
}

.nav-bar {
    background-color: #004aad;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 0;        
    padding: 0;       
}

.nav-link {
    color: white;
    font-family: "Times New Roman", serif;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
}

/* Hover effect for navigation links */
.nav-link:hover {
    text-decoration: underline;
}

.footer {
    background-color: #ff7a00;
    color: white;
    text-align: center;
    padding: 30px 10px;
    margin-top: 40px;
}

.footer p {
    margin: 10px 0;
    font-size: 22px;
}

.socials {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 15px 0;
    font-size: 20px;
}

/* Hover effect for social links */
.socials a:hover {
    text-decoration: underline;
    transform: scale(1.2);
    color: white;
    font-weight: bolder;
}

.footer-copy {
    font-size: 14px;
    margin-top: 15px;
}

.footer-privacy {
    font-size: 10px;
    color: white;
    margin-top: 10px;
}

