.documents-info {
    background-color: rgba(230, 242, 255, 0.9); 
    border: 2px solid #004aad;
    border-radius: 20px;
    padding: 40px 35px;
    max-width: 900px;
    margin: 30px auto 40px;       
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
    font-family: 'Georgia', serif;
    font-size: 20px;
    color: #004aad;
    line-height: 1.7;
    text-align: center;
}

.documents-info p {
    margin-bottom: 20px;
}

.documents-info a {
    color: #ff7a00;
    font-weight: bold;
    text-decoration: none;
}

.documents-info a:hover {
    text-decoration: underline;
}

.documents-list li a {
    text-decoration: none;
    color: #004aad;
    font-size: 22px;
    font-weight: bold;
    border: 2px solid #004aad;
    padding: 12px 22px;
    border-radius: 12px;
    transition: all 0.3s ease; /* smooth hover transition */
    display: inline-flex;
    align-items: center;
    gap: 10px;

}

.documents-list li a:hover {
    background-color: #ff7a00;
    color: white;
    transform: scale(1.05);   /* slight enlargement */
}
.documents-info ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.documents-info li {
    margin-bottom: 8px;
}
